.delete-confirmation-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
}

.confirmation-message {
    text-align: center;
}

.delete-button-container {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 25px;
    width: 90%;
}

.delete-button-container .button {
    margin: 0px 5px;
}