.verify-modal-container {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.unique-code-error {
    padding-top: 3px;
    font-size: 13px;
    color: var(--errorRed);
}

.verify-code-button-container {
    position: absolute;
    bottom: 20px;
    right: 20px;
    left: 20px;
    display: flex;
    justify-content: space-between
}